# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Frontend (React  Vite  Next.js) ---
node_modules
dist
build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
yarn-debug.log
yarn-error.log
.eslintcache
backend/database/temp/*

# --- Backend (Python  FastAPI) ---
__pycache__
.py[cod]
$py.class
.env
.venv
venv
env
ENV
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
.egg-info
.installed.cfg
.egg

# --- Databases ---
.sqlite3
.db
**/*.db

# --- IDE  Editors ---
.vscode
.idea
.swp
.swo

# --- Python Tools   ---
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
*.cover
.webassets-cache
*.sage.py
.python-version
pip-log.txt
pip-delete-this-directory.txt

jrdb_DB/**